---
layout: default
title: BriceShatzer.com/blog
---

<div id="home">
  <h1>Blog Posts</h1>
  <ul class="posts">
    {% assign posts = site.posts | sort: "sort_date" | reverse %}
    {% for post in posts %}
      <li>
        <article>
            <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: '%B %d, %Y' }}</time>{% if post.last_modified_at %}<span> &middot; Updated {{ post.last_modified_at | date: '%B %d, %Y' }}</span>{% endif %}
            <h2>
                <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
            </h2>

            <p>{{ post.description }}</p>
        </article>
      </li>
    {% endfor %}
  </ul>
</div>
