<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ site.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.png" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
    <link href="http://fonts.googleapis.com/css?family=Droid+Sans:700,400|Lato:700,400" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
</head>