<header class="page-header" role="banner">
    <div>
        {%- if page.landingPageTitle %}
        <h1 class="project-name">{{ page.landingPageTitle }}</h1>
        {%- else %}
        <p class="project-name"><a href="{{ '/' | relative_url }}">{{ site.title }}</a></p>
        {%- endif %}
    </div>
    <a class="home-link" href="https://briceshatzer.com">
        <img src="{{ '/assets/face.png' | relative_url }}" alt="" width="468" height="468" decoding="async">
        <span class="text">
            <span aria-hidden="true">&laquo;</span> back to BriceShatzer.com
        </span>
    </a>
</header>
