<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  {% include head.html %}
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    {% include page-header.html %}

    {% if page.layout == "post" %}<nav class="posts-nav" aria-label="Blog"><a class="posts-link" href="{{ '/' | relative_url }}"><span aria-hidden="true">&laquo;</span> All Posts</a></nav>{% endif %}

    <main id="content" class="main-content" role="main" tabindex="-1">
      {{ content }}

      {% if page.layout == "post" %}
        <a class="end-of-content posts-link" href="{{ '/' | relative_url }}"><span aria-hidden="true">&laquo;</span> All Posts</a>
      {% endif %}

      {% include page-footer.html %}

    </main>
  </body>
</html>
